SUPABASE_URL=https://bxtkcahrpqdehhzeqxgi.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ALLOWED_ORIGINS=http://localhost:3000
WEB_API_BASE_URL=http://localhost:8000
WEB_APP_URL=http://localhost:3000
GOOGLE_SHEET_ID=1mvKqzfzS7qL69NRg6_6ER_DZdiyUP4LfFYkfCDab9po
GOOGLE_SHEET_NAME=考題_Cloud Practitioner
SAA_GOOGLE_SHEET_NAME=考題_Solutions Architect Associate
QUIZ_EXAM=clf
