SUPABASE_URL=https://bxtkcahrpqdehhzeqxgi.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ALLOWED_ORIGINS=http://localhost:3000
WEB_API_BASE_URL=http://localhost:8000
WEB_APP_URL=http://localhost:3000
QUESTIONS_DIR=../../questions
FLASHCARDS_DIR=../../flashcards
QUIZ_EXAM=saa
